{{define "sidebar"}}
<div class="fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900">
  <div class="text-gray-100 text-xl">
    <div class="p-2.5 mt-1 flex items-center">
      <img class="object-contain h-8 w-8"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Go_gopher_favicon.svg/2048px-Go_gopher_favicon.svg.png"></img>
      <h1 class="font-bold text-gray-200 text-[15px] ml-3">Go CMS</h1>
    </div>
    <div class="my-2 bg-gray-600 h-[1px]"></div>
  </div>
  <a class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white" href="/content-types">
    <span class="text-[15px] ml-4 text-gray-200 font-bold">Content types</span>
  </a>
</div>
{{end}}